		<footer>
	    	<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>
	    	<script src="js/jquery/jquery.min.js"></script>
	    	<script src="js/bootstrap/bootstrap.min.js"></script>
	    	<script src="js/plugins.js"></script>
	    	<script src="js/main.js"></script>
		</footer>
    </body>
</html>
