<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>In-Between</title>
<meta name="description" content="IoT Web Server">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->
<link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" >
<link rel="stylesheet" href="css/bootstrap/bootstrap-theme.min.css" >
<link rel="stylesheet" href="css/main.css">